/* Ruler BEM */

.form__box {
  /* width: 50%; */
  text-align: center;
}
.form__box input {
  width: 25%;
  padding: 0.4em;
  margin-top: 4px;
  border: 1px solid black;
  border-radius: 5px;
}
.form__box input:focus {
  outline: none;
  border-color: rgb(127, 255, 155);
  background-color: rgb(196, 255, 235);
}
.form__box input:hover {
  border-color: rgb(127, 255, 155);
  background-color: rgb(196, 255, 235);
}
.form__box button {
  font-size: larger;
  font-weight: 600;
  padding: 0.4em;
  width: 26%;
  color: rgb(82, 82, 82);
  transition: all 0.3s ease;
}
.form__box button:hover {
  background-color: rgb(196, 255, 235);
  color: rgb(68, 68, 68);
}
.form__box--inputEmail {
  /* text-align: center;
  text-align-last: left; */
  margin: 1rem;
}
