<%- include("../includes/head.ejs")  %>
    <link rel="stylesheet" href="/css/login.css" >
</head>
<body>
    <div class="form__box">
      <div class="">
        <h2>Administration</h2>
      </div>
      <div>
        <form action="" method="">
        <div class="form__box--inputEmail">
            <label for="email">Admin email</label>
            <br />
            <input type="email" name="email" id="email" autocomplete="off"/>
        </div>
        <div class="form__box--inputEmail">
            <label for="password">Admin password</label>
            <br />
            <input type="password" name="password" id="password" autocomplete="off"/>
        </div>
          <button onclick="">Login</button>
        </form>
      </div>
    </div>
<%- include("../includes/foot.ejs")  %>