table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
  font-weight: 400 !important;
  padding-left: 20px ;
}
th {
  /* width: 20%; */
  border-right: 1px groove black;
  padding: 1%;
}
.layout_transaction {
  max-width: 95vw;
  padding: 10px 20px ;
  width: 100%;
}