<h2>Latest Transactions</h2>
<table>
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" name="check" id="check" /></th>
      <th scope="col">id</th>
      <th scope="col">User</th>
      <th scope="col">Hotel</th>
      <th scope="col">Weight</th>
      <th scope="col">Length</th>
      <th scope="col">Breed</th>
      <th scope="col">Color</th>
      <th scope="col">Date Added</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="">
    <tr>
      <th scope="row">${pet.idpet}</th>
      <td>${pet.namepet}</td>
      <td>${pet.agepet}</td>
      <td>${pet.typepet}</td>
      <td>${pet.weightpet} kg</td>
      <td>${pet.lengthpet} cm</td>
      <td>${pet.breedpet}</td>
      <td><i class="bi bi-square-fill"></i></td>
      <td>time</td>
      <td>
        <button
          type="button"
          style="background-color: #fff381, color= #ffffff"
          class=""
          onclick=""
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
