<%- include('./includes/head.ejs') %>

    <link rel="stylesheet" href="/css/dashbroad.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
  </head>
  <body>
<%- include('./includes/navigation.ejs') %>
    <main>
      <header>
        <div>
          <div>
            <h4>USER</h4>
            <p>100</p>
          </div>
          <img src="" alt="" />
        </div>
      </header>
      <article>
        <h2>Latest Transactions</h2>
        <table></table>
      </article>
    </main>

<%- include('./includes/foot.ejs') %>